<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{title}}</title>
  {{!-- css --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />

  {{!-- scripts --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/jquery.mCustomScrollbar.js"></script>
  <script src="https://kit.fontawesome.com/f67ccf96d4.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar  -->

    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>School System</h3>
        <button class="closeButton" id="sidebarCollapse2">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <ul class="list-unstyled components">
        {{#ifEquals user.role "student"}}
        {{> studentMenu}}
        {{/ifEquals}}
        {{#ifEquals user.role "teacher"}}
        {{> teacherMenu}}
        {{/ifEquals}}
        {{#ifEquals user.role "admin"}}
        {{> adminMenu}}
        {{/ifEquals}}

      </ul>
    </nav>

    <!-- Right side  -->
    <div id="right">
      {{!-- NavBar --}}
      <nav class="navbar navbar-expand-sm navbar-light bg-light topbar sticky-top">
        <div class="container-fluid">
          {{!-- Toggle side menu --}}
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
          </button>
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              {{!-- notifications dropdown --}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-bell"></i> Notifications
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-top" aria-labelledby="notifDropdown">
                  {{!-- dropdown content --}}
                  {{> notifications}}
                </div>
              </li>
              {{!-- Account dropdown --}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user"></i> {{user.firstName}} {{user.lastName}}
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-top" aria-labelledby="profileDropdown">
                  {{!-- dropdown content --}}
                  <a class="dropdown-item dropdown-item_" href="/settings"><i class="fas fa-user-cog"></i> Settings</a>
                  <a class="dropdown-item dropdown-item_" href="/myprofile"><i class="fas fa-user-edit"></i> Edit
                    profile</a>
                  <a class="dropdown-item dropdown-item_" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- content -->
      <div id="content" class="{{template}}">

        {{{body}}}
      </div>
      {{> footer}}
    </div>
  </div>




</body>

</html>