<div class="loginBox">
    <img class="logo" src="images/cfbc_logo_small.png">
    <h5>Hi, {{user.firstName}} {{user.lastName}}!</h5>
    <h5>Confirm the update of your email address to <b>{{user.newEmail}}</b></h5>

    <div class="loginForm"><a href="#" class="btn btn-info" role="button">Link Button</a>
        <form action="/confirm?token={{token}}&&email={{user.newEmail}}" method="POST"
            enctype="application/x-www-form-urlencoded">
            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Confirm</button>
            <p><a href="../">Go to Home</a></p>
        </form>

    </div>
</div>