<div class="row">
    <div class="col-8 ">
        <h3 class="my-2 py-2">Last Announcements:</h3>
        {{#each announcements}}
        <h5 class="mb-0"><b>{{this.title}}</b></h5>
        <div class="mt-0 text-secondary"><small><u>{{this.author.firstName}} {{this.author.lastName}}</u> at
                {{formatDate this.createdAt}}</small></div>
        <p class="mt-2 font-weight-light">{{{breaklines this.description}}}</p>
        <hr>
        {{/each}}
    </div>
    <div class="col-4">
        <h3 class="my-2 py-2">Upcoming Assignments:</h3>

        {{#each assignments}}
        <a href="/student/assignment/{{this.id}}">
            <div class="assignment 
        {{#ifEquals this.status "Not submitted"}}
        assignment-unsubmitted
        {{/ifEquals}}
        {{#ifEquals this.status "Submitted"}}
        assignment-submitted
        {{/ifEquals}}
        {{#ifEquals this.status "Feedback Available"}}
        assignment-feedback
        {{/ifEquals}}
        {{#ifEquals this.status "Overdue"}}
        assignment-overdue
        {{/ifEquals}}
            ">
                <h5 class="text-center"><b>{{this.title}}</b><br>
                    <small class="text-muted">{{this.course.name}}</small></h5>
                <div><strong>Teacher:</strong> {{this.course.teacher.firstName}} {{this.course.teacher.lastName}}</div>
                <div><strong>Deadline:</strong> {{formatDate this.deadline}}</div>
                <div><strong>Status:</strong> {{this.status}}</div>
            </div>
        </a>
        {{/each}}
    </div>
</div>