<div class="row">
    <div class="col-8 ">
        <h3 class="my-2 py-2">Last Announcements:</h3>
        {{#each announcements}}
        <h5 class="mb-0"><b>{{this.title}}</b></h5>
        <div class="mt-0 text-secondary"><small><u>{{this.author.firstName}} {{this.author.lastName}}</u> at
                {{formatDate this.createdAt}}</small></div>
        <p class="mt-2 font-weight-light">{{{breaklines this.description}}}</p>
        <hr>
        {{/each}}
    </div>
    <div class="col-4">
        <h3 class="my-2 py-2">Materials:</h3>
        <div class="5"></div>
    </div>
</div>