<div class="row">

    <div class="col-auto">
        <h3>View Announcements</h3>
    </div>
    <div class="col-auto"><a class="btn btn-secondary" href="./announcements/create"><span><i
                    class="fas fa-plus"></i></span> Add announcement</a></div>
</div>

<table class="table my-4 table-striped">
    <thead>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Groups</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        {{#each announcements}}
        <tr id="announcement-{{this.id}}">
            <td>{{this.title}}</td>
            <td>{{this.author.firstName}} {{this.author.lastName}}</td>
            <td>{{#each this.groups}}{{this.name}} {{/each}}</td>
            <td>{{formatDate this.createdAt}}</td>
            <td> <a class="btn btn-info" href="./announcements/edit/{{this.id}}">Edit</a>
                <button class="btn btn-danger" onclick="removeAnnouncement('{{this.id}}')">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    function removeAnnouncement(id) {
        if (confirm("Are you sure you want to delete this announcement?")) {
            $.ajax({
                url: `./announcements/delete/${id}`,
                type: "DELETE",
                success: function (result) {
                    console.log(result);
                },
            });
            $(`#announcement-${id}`).hide();
        }
    }
</script>